.page {
    padding: 20px 0;

    .pInfo {
        display: flex;
        align-items: center;

        .headicon {
            margin-right: 20px;
            width: 160px;
            height: 160px;
        }

        .name {
            font-size: 32px;
        }

        .edit {
            margin-left: 20px;
        }
    }
}